/* @import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap"); */
/* @import url("http://fonts.cdnfonts.com/css/cloister-black"); */
html,
body {
  padding: 0px !important;
  margin: 0px !important;
  overflow-x: hidden;
  background-color: #002155;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23002155' cx='50' cy='0' r='50'/%3E%3Cg fill='%23012159' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2303205e' cx='50' cy='100' r='50'/%3E%3Cg fill='%23042062' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23061f65' cx='50' cy='200' r='50'/%3E%3Cg fill='%23081f69' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%230a1e6d' cx='50' cy='300' r='50'/%3E%3Cg fill='%230d1d70' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%230f1d73' cx='50' cy='400' r='50'/%3E%3Cg fill='%23121c76' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23141c79' cx='50' cy='500' r='50'/%3E%3Cg fill='%23171c7c' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%231a1c7e' cx='50' cy='600' r='50'/%3E%3Cg fill='%23201e81' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23262183' cx='50' cy='700' r='50'/%3E%3Cg fill='%232d2585' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23332887' cx='50' cy='800' r='50'/%3E%3Cg fill='%233a2c89' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2340308a' cx='50' cy='900' r='50'/%3E%3Cg fill='%2347358c' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%234D398D' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
  /* color: #fff; */
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    /* background: rgb(47, 47, 47); */
  }
}

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track-piece {
  opacity: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #2f2f2f;
}